<div class="support-dashboard">
  <mat-toolbar>
    <span>Support Request</span>
    <app-button [data]="createRequestButtonConfig" (event)="onCreateRequest($event)"></app-button>
  </mat-toolbar>
  <div class="content">
    <div class="chart-container">
      <span>Overall Summary - Support Request</span>
      <div class="charts">
        <app-pie-chart [chartConfig]="toDoTicketChartConfig" [isLoading]="isChartDataLoading"></app-pie-chart>
        <app-pie-chart [chartConfig]="inProgressTicketChartConfig" [isLoading]="isChartDataLoading"></app-pie-chart>
        <app-pie-chart [chartConfig]="resolvedTicketChartConfig" [isLoading]="isChartDataLoading"></app-pie-chart>
        <app-pie-chart [chartConfig]="totalTicketChartConfig" [isLoading]="isChartDataLoading"></app-pie-chart>
      </div>
    </div>
    <div>
      <app-paginator [length]="totalTickets" [pageIndex]="pageIndex" [pageSizeOptions]="[5]" [hidePageSize]="true" (event)="onPaginatorEvent($event)">
      </app-paginator>
      <app-table [tableData]="tableData" [columnsDef]="columnsDef" [loading]="isTableDataLoading" (tableEvent)="onTableEvent($event)"> </app-table>
    </div>
  </div>
</div>
