.app-dashboard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
  }
}
