  <div class="support-ticket-view">

    <mat-toolbar>
      <div>
        <app-icon [data]="backIconConfig"></app-icon>
        <span>
          @if(ticketData) { {{ ticketData.title }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderHeaderConfig"></ngx-skeleton-loader> }
        </span>
      </div>
      <app-button [data]="updateButtonConfig" (event)="onUpdate()"></app-button>
    </mat-toolbar>

    <mat-card appearance="outlined">
      <mat-card-content>

        <span class="content">
          <span class="title">Feature Title: </span>
          @if(ticketData) { {{ ticketData.title }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Feature Description: </span>
          @if(ticketData) { {{ ticketData.description }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Status: </span>
          @if(ticketData) { {{ ticketData.status }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Priority: </span>
          @if(ticketData) { {{ ticketData.priority }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Created At: </span>
          @if(ticketData) { {{ ticketData.createdAt | date }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Deadline: </span>
          @if(ticketData) { {{ ticketData.deadLine | date }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <!-- <app-link [data]="previewLinkConfig" (event)="onPreview()"></app-link> -->

      </mat-card-content>
    </mat-card>
  </div>

