  <div class="feature-ticket-view">

    <mat-toolbar>
      <div>
        <app-icon [data]="backIconConfig"></app-icon>
        <span>
          @if(ticketData) { {{ ticketData.title }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderHeaderConfig"></ngx-skeleton-loader> }
        </span>
      </div>
      <app-button [data]="updateButtonConfig" (event)="onUpdate()"></app-button>
    </mat-toolbar>

    <mat-card appearance="outlined">
      <mat-card-content>

        <span class="content">
          <span class="title">Feature Title: </span>
          @if(ticketData) { {{ ticketData.title }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Feature Description: </span>
          @if(ticketData) { {{ ticketData.description }}}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Cloud Provider: </span>
          @if(ticketData) { <app-chip [data]="prepareChipConfig(ticketData.cloudProvider)"></app-chip>}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Priority: </span>
          @if(ticketData) { <app-chip [data]="prepareChipConfig(ticketData.priority)"></app-chip>}
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Created At: </span>
          @if(ticketData) { {{ ticketData.createdAt | date }} }
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Deadline: </span>
          @if(ticketData) { {{ ticketData.deadLine | date }} }
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

        <span class="content">
          <span class="title">Tags: </span>
          @if(ticketData) { <app-chip-list [data]="prepareChipListConfig(ticketData.tags)"></app-chip-list> }
          @else { <ngx-skeleton-loader appearance="circle" [theme]="skeletonLoaderConfig"></ngx-skeleton-loader> }
        </span>

      </mat-card-content>
    </mat-card>
  </div>
