@if (ticketData) {
  <div class="feature-ticket-view">
    <mat-toolbar>
      <div>
        <app-icon [data]="backIconConfig"></app-icon>
        <span>{{ ticketData.title }}</span>
      </div>
      <app-button [data]="updateButtonConfig" (event)="onUpdate()"></app-button>
    </mat-toolbar>
    <mat-card appearance="outlined">
      <mat-card-content>
        <span class="content"> <span class="title">Feature Title: </span>{{ ticketData.title }} </span>
        <span class="content"> <span class="title">Feature Description: </span>{{ ticketData.description }} </span>
        <span class="content"> <span class="title">Cloud Provider: </span>{{ ticketData.cloudProvider }} </span>
        <span class="content"> <span class="title">Priority: </span>{{ ticketData.priority }} </span>
        <span class="content"> <span class="title">Created At: </span>{{ ticketData.createdAt | date }} </span>
        <span class="content"> <span class="title">Deadline: </span>{{ ticketData.deadLine | date }} </span>
        <span class="content"> <span class="title">Tags: </span>{{ ticketData.tags }} </span>
      </mat-card-content>
    </mat-card>
  </div>
} @else {
  <app-progress-bar [data]="progressBarConfig"></app-progress-bar>
}
